{% extends "base.html" %}
{% block content %}
    <div class="content-profile">
        <div class="container-profile">
            <div class="left-window">
                <ul class="left-window-ul">
                    <li class="vash-akk"><span class="record"><i class="fa-solid fa-clipboard"></i></span>Your account</li>
                    <li class="first-part-ul">Your profile</li>
                    <li class="first-part-ul">Alerts</li>
                    <li class="first-part-ul">Received reactions</li>
                    <li class="first-part-ul">Bookmarks</li>
                    <li class="nastroiki"><span class="record"><i class="fa-solid fa-clipboard"></i></span>Settings</li>
                    <a href={{ url_for('profile') }}><li class="second-part-ul">Information</li></a>
                    <a href={{ url_for('security') }}><li class="second-part-ul">Security</li></a>
                    <li class="second-part-ul">Confidentiality</li>
                    <li class="second-part-ul">Settings</li>
                    <li class="second-part-ul">Signature</li>
                    <li class="second-part-ul">Subscriptions</li>
                    <li class="second-part-ul">Ignoring</li>
                    <a href="{{ url_for('logout') }}"><li class="second-part-ul">Exit</li></a>
                </ul>
            </div>
                {% block account_details %}{% endblock %}
                {% block profile_security %}{% endblock %}
        </div>
    </div>
{% endblock %}