{% extends "base.html" %}
{% block content %}
<div class='content'>
    <div class="container">
        <div class='header-threads'>
            <div class='name-forum'>
                {{ name }}
            </div>
            {% if current_user.is_authenticated %}
            <a class='a-add-post' href={{ url_for('reply_to_thread', underthread_name=underthread_name) }}><div class='button-add-reply'><span class='pensil'><i class="fa-solid fa-pen"></i></span><span class='post-add-text'>Answer</span></div></a>
            {% endif %}
        </div>
        <div class='messages'>
            {% if content %}
            {% for message, values in content.items() %}
            <div class='message'>
                <div class='message-part-1'>
                    <div class='message-ava-part'>
                        <div class='message-ava'><img class='message-ava-img' src={{ url_for('userava_thread', id=values.user_id) }}></div>
                        <div class='message-username'>{{ values.username }}</div>
                        <div class='message-user-status'>User</div>
                    </div>
                </div>
                <div class='message-part-2'>
                    <div class='message-content-part'>
                        <div class='message-date'>{{ values.date }}</div>
                        <div class='message-text'>{{ values.message }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class='razdel-pust'>
                Форум пуст
            </div>
            {% endif %}
        </div>
{% endblock %}